# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual env
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Flask/Uploads
uploads/
instance/

# Secrets
.env
.env.local

# Reports/exports
*.pdf
*.xlsx
*.csv
